import React from 'react';
import { BrowserRouter as Router, Routes, Route } from 'react-router-dom';
import './App.css';
{{#each components}}
import {{this.name}} from './components/{{this.file}}';
{{/each}}

function App() {
  return (
    <Router>
      <div className="app">
        <header className="app-header">
          <h1>{{appName}}</h1>
          <nav>
            <ul>
              <li><a href="/">Home</a></li>
              {{#each navItems}}
              <li><a href="{{this.path}}">{{this.label}}</a></li>
              {{/each}}
            </ul>
          </nav>
        </header>

        <main className="app-main">
          <Routes>
            {{#each routes}}
            <Route path="{{this.path}}" element={<{{this.component}} />} />
            {{/each}}
          </Routes>
        </main>

        <footer className="app-footer">
          <p>&copy; {{year}} {{appName}}. All rights reserved.</p>
        </footer>
      </div>
    </Router>
  );
}

export default App;
